<launch>
<node name="map_server" pkg="map_server" type="map_server" args="$(find amcl_starter)/maps/map.yaml"/>
<node pkg="amcl" type="amcl" name="amcl">
  <param name="odom_model_type" value="omni"/>
  <param name="gui_publish_rate" value="10.0"/>
  <param name="laser_max_beams" value="90"/>
  <param name="odom_alpha1" value="0.2"/>
  <param name="odom_alpha2" value="0.2"/>
  <param name="odom_alpha3" value="0.2"/>
  <param name="odom_alpha4" value="0.2"/>
  <param name="odom_alpha5" value="0.2"/>
  <param name="laser_model_type" value="likelihood_field"/>
  <param name="laser_likelihood_max_dist" value="2.0"/>
  <param name="odom_frame_id" value="odom"/>
  <param name="resample_interval" value="1"/>
  <param name="transform_tolerance" value="0.1"/>
  <param name="recovery_alpha_slow" value="0.001"/>
  <param name="recovery_alpha_fast" value="0.1"/>
</node>
</launch>
